<%= form_with(model: art_work) do |form| %>
  <% if art_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(art_work.errors.count, "error") %> prohibited this art work from being saved:</h2>
      <ul>
        <% art_work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field mb-3">
    <%= form.text_field :title, class: 'form-control', placeholder:'Title' %>
  </div>
  <div class="field mb-3">
    <%= form.file_field :attachment, class: 'form-control', placeholder:'Art Work' %>
  </div>
  <div class="field mb-3">
    <%= form.number_field :user_id, id: :art_work_user_id, class: 'form-control', value: current_user.id, type: :hidden %>
  </div>
  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
    <%= link_to 'Back', root_path, class:'btn btn-dark ms-2' %>
  </div>
<% end %>
